<!-- Irekia -->
<!-- ############################## -->
<li>
<div class="summary">
  <div class="shadow"></div>
  <h4>Irekia</h4>
  <p>An eGobernment platform for the Basque gobernment.</p>
  <a href="#">more info</a>
  <img src="/images/portfolio/irekia@2x.png" alt="Irekia" width="250" height="200" />
</div>
<div class="detail">
  <div class="shadow"></div>
  <div class="title">
    <h4>Irekia</h4>
  </div>
  <div class="description">
    <p>We were asked to work in the next version of one of the first eGobernment platforms in the world.</p>
    <p>Our main concern was to develop a platform that encouraged citizens to participate in their nation issues.</p>
  </div>
  <div class="info">
    <dl class="role">
      <dt>role in the project</dt>
      <dd>Back-end developer.</dd>
    </dl>
    <dl>
      <dt>company i worked for</dt>
      <dd>A project by <a href="http://vizzuality.com/projects/irekia" target="_blank">Vizzuality</a>.</dd>
    </dl>
    <dl>
      <dt>developed for</dt>
      <dd class="client"><a href="http://www.euskadi.net/r33-2220/eu/" target="_blank">Basque Country</a></dd>
    </dl>
    <dl>
      <dt>technologies</dt>
      <dd>
      <ul>
        <li>Ruby on Rails</li>
        <li>PostgreSQL</li>
        <li>activity streams</li>
        <li>social network</li>
      </ul>
      </dd>
    </dl>
    <dl>
      <dt>project source</dt>
      <dd><a href="https://github.com/vizzuality/irekia/" target="_blank">https://github.com/vizzuality/irekia/</a></dd>
    </dl>
    <br />
    <dl>
      <dt>project url</dt>
      <dd><a href="http://www.irekia.euskadi.net/en" target="_blank">http://www.irekia.euskadi.net/</a></dd>
    </dl>
  </div>
  <img src="/images/portfolio/detail/irekia@2x.png" alt="Irekia" />
  <a href="#" class="hide">hide detail</a>
</div>
</li>

