<div class="content">
	<h1 id="contact_me!">Contact Me!</h1>
	<p>Feel free to contact me for anything you might need!</p>
	<ul>
		<li class="mail">Drop me some words at my email <a href="mailto:fer@ferdev.com"><strong>fer@ferdev.com</strong></a>.</li>
		<li class="twitter"><a href="http://twitter.com/ferdev"><strong>Follow me</strong></a> on twitter.</li>
		<li class="facebook">Or maybe you are a facebook person... here is <a href="facebook.com/fernando.espinosa"><strong>my profile</strong></a>.</li>
		<li class="linkedin">My profile at <a href="http://es.linkedin.com/in/fernandoespinosajimenez"><strong>Linked In</strong></a>.</li>
		<li class="xing">And at <a href="http://www.xing.com/profile/Fernando_EspinosaJimenez"><strong>Xing</strong></a>.</li>
	</ul>
</div>