<div class="content">
	<h1 id="contact_me!">¡Contáctame!</h1>
	<p>No dudes en ponerte en contacto conmigo para cualquier cosa que puedas necesitar.</p>
	<ul>
		<li class="mail">Escríbeme a mi email, <a href="mailto:fer@ferdev.com"><strong>fer@ferdev.com</strong></a>.</li>
		<li class="twitter"><a href="http://twitter.com/ferdev"><strong>Sígueme</strong></a> en twitter.</li>
		<li class="facebook">O quizá eres más de <a href="http://www.facebook.com/fernando.espinosa">Facebook</a>...</li>
		<li class="linkedin">Mi perfil en <a href="http://es.linkedin.com/in/fernandoespinosajimenez"><strong>Linked In</strong></a>.</li>
		<li class="xing">Y en <a href="http://www.xing.com/profile/Fernando_EspinosaJimenez"><strong>Xing</strong></a>.</li>
	</ul>
</div>