<header>
  <hgroup>

    <div class="photo">
      <div class="white_border">
      </div>
      <img src="/images/ferdev@2x.png" alt="Fernando Espinosa" width="65" height="65" />
    </div>

    <div class="name">
      <h3>fernando espinosa</h3>
      <h3>freelance ruby & ios developer</h3>
    </div>

  </hgroup>
  {% include navigation.html %}
</header>

<section class="introduction">
  <div class="balloon_tail_small"></div>
  <div class="balloon_tail_medium"></div>
  <div class="balloon">
    <p class="hi"><strong>Hi!</strong></p>
    <p>
      I'm <strong>Fernando Espinosa</strong>, a <strong>developer</strong> based in Madrid, Spain.<br/>
      I <span>&#x2665;</span> <strong>ruby</strong> and crafting <strong>beautiful</strong> apps with it.
    </p>
  </div>
</section>

