<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/lib/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ferdev.init.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
	try {
		var pageTracker = _gat._getTracker("UA-6392398-3");
		pageTracker._trackPageview();
	} catch(err) {}
</script>