<nav>
	<ul id="menu">
		<li><a href="/" title="portfolio">portfolio</a></li>
		<li><a href="/about-me.html" title="about me">about me</a></li>
		<li><a href="/hire-me.html" title="hiring me">hire me</a></li>
		<li><a href="#" title="contact" class="contact">contact</a></li>
    <li class="top"><a href="#home" title="home">up</a></li>
	</ul>
</nav>

<div id="contact">
  <div class="email">
    <span class="icon-envelope"></span><a href="mailto:fer@ferdev.com" title="fer@ferdev.com">fer@ferdev.com</a>
  </div>
  <div class="twitter">
    <span class="icon-twitter"></span><a href="http://twitter.com/ferdev" title="@ferdev">ferdev</a>
  </div>
</div>
