<div class="content">
	<h1 id="my_portfolio.">My portfolio.</h1>
	<p>
	These are the projects I've been working on lately:
	</p>
	<ul id="portfolio_projects">
		<li class="project">
			<h3>Loovrs.com</h3>
			<div>
				<img src="/images/portfolio/loovrs.jpg" alt="Loovrs" title="Loovrs"/>
				<ul class="project_data">
					<li>Dating site</li>
					<li>xhtml / css / jQuery / Ruby on Rails</li>
					<li><a href="http://www.loovrs.com" rel="loovrs.com">http://www.loovrs.com</a></li>
				</ul>
			</div>		
		</li>
		<li class="project">
			<h3>FerDev.com</h3>
			<div>
				<img src="/images/portfolio/ferdev.jpg" alt="FerDev" title="FerDev"/>
				<ul class="project_data">
					<li>Wordpress theme</li>
					<li>xhtml / css / jQuery / php</li>
					<li><a href="http://www.ferdev.com" rel="ferdev.com">http://www.ferdev.com</a></li>
				</ul>
			</div>		
		</li>
	</ul>
</div>
