/* @font-face */
@font-face {
  font-family: 'Old Sans Black';
  src: url('./stylesheets/fonts/OldSansBlack.eot');
  src: local('OldSansBlack'),
  url('./stylesheets/fonts/OldSansBlack.ttf') format('truetype'),
  url('./stylesheets/fonts/OldSansBlack.svg#OldSansBlack') format('svg');
}
@font-face {
  font-family: 'Everson Mono Latin';
  src: url('./stylesheets/fonts/EMLATIN6.eot');
  src: local('Everson Mono Latin 6'),
  local('EversonMonoLatin6'),
  url('./stylesheets/fonts/EMLATIN6.ttf') format('truetype'),
  url('./stylesheets/fonts/EMLATIN6.svg#EversonMonoLatin6') format('svg');
}
@font-face {
  font-family: 'Deja Vu Sans Mono';
  src: url('./stylesheets/fonts/DejaVuSansMono.eot');
  src: local('DejaVu Sans Mono'),
  local('DejaVuSansMono'),
  url('./stylesheets/fonts/DejaVuSansMono.ttf') format('truetype'),
  url('./stylesheets/fonts/DejaVuSansMono.svg#DejaVuSansMono') format('svg');
}

/* Main */
html, body { padding: 0; margin: 0; }

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Everson Mono Latin',Helvetica,Arial;
  background-color: #444444;
  color: #ffffff;
  text-shadow:0 -1px 1px #000000;
  line-height: 1.2em;
}

a { color: #cc66ff; }

a:hover { color: #66ccff; }

a:visited { color: #999999; }

h1 { font-size: 1.5em; margin: 0 0 1em; }

h2 { font-size: 1.3em; text-decoration: underline; }

h1,
h1 a,
h2 a,
h1 a:visited,
h2 a:visited {
  color: #ccff33;
}

p{  margin: 1em 0; }

div.content{
  padding: 2em 0;
  width: 800px;
  height: 100%;
  border: 0 none;
  margin-left: 12.5em;
}

section{ display: block; padding: 10px 0; min-height: 1080px; }

.dark{
  background-color: #444444;
  color: #ffffff;
  text-shadow:0 -1px 1px #000000;  
}

.light{
  background-color: #ccc;
  color: #000;
  text-shadow: 1px 1px 1px #999;
}

.light h1{ text-shadow: 1px 1px 1px #000; }
.light a{ text-shadow: 1px 1px 1px #666; }

/* Header */
header {
  border:0 none;
  display:block;
  margin-left:12.5em;
  margin-top:1em;
  width:800px;
}

header hgroup h1 .title {
  font-family: 'Old Sans Black', Helvetica, Arial;
  font-size: 4em;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 0 #000000;
}
header hgroup h1 .title img{
  border:0 none;
  margin-right:15px;
}

header hgroup h3 {
  color:#ccc;
  font-size:1em;
  font-weight:normal;
  text-shadow:0 -1px 1px #000;
}

/* Navigation */
nav {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -124px;
  z-index: 1;
}

#menu {
  padding: 0;
  text-align: left;
  list-style-type: none;
}

#menu li {
  padding: 0 1em;
  margin: 1em;
}

#menu li a{
    -moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
    -ms-border-radius: 8px;
  	border-radius: 8px;
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0 1px 3px rgba(0,0,0,0.5);	
  	background: #FFF url(/images/button-overlay.png) repeat-x;
  	display: inline-block;
  	padding: 8px 17px;
  	color: #444;
  	font-family: Helvetica, Arial;
  	font-size: 1.3em;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  	text-decoration: none;
  	text-align: center;
  	border-style:solid;
    border-width:1px;
  	border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.85);
  	position: relative;
  	cursor: pointer;  	
  	width:78px;
}

#menu li a:hover{
  background-color: #EEE;
}

#menu li a:active{
  background: #FFF url(/images/button-overlay-inverse.png) repeat-x;
}

#menu li a#contact_button{
  background-color: #222;
  color: white;
  border-color: rgba(255, 255, 255, 0.75);
}

#menu li a#contact_button:hover{
  background-color: #333;
}

#menu li a#contact_button:active{
  background: #222 url(/images/button-overlay-inverse.png) repeat-x;
}

/* Content */
section.articles article {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color:#333333;
  display:block;
  margin:1em 0 1em 12.5em;
  padding:1em;
  width:800px;
}

section.articles .date {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  padding: .5em;
  margin-right: 1em;
}

section.articles .highlight{
  margin: 1em 0;
}

section.articles pre {
  border: 1px solid #444444;
  background-color: #222222;
  color: #FFFFFF;  
  font-size: 0.9em;
  overflow: auto;
  padding: 2em 1em;
}

section.articles pre,
section.articles code {
  font-family: 'Deja Vu Sans Mono', monospace;
  white-space: pre;
  overflow-y: hidden;
}

section.articles a[rel='tag'] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  border: 1px solid #222222;
  padding: 0.5em 1em;
  text-decoration: none;
}

section.articles a[rel='tag']:hover {
  border: 1px solid #222222;
  background-color: #333333;
  text-decoration: underline;
}

section.articles ul {
  list-style-type: disc;
  margin-left: 2em;
}

section.articles div.more_posts{
  text-align: center;
  margin:1em 0 1em 12.5em;
  padding:1em;
  width:800px;
}

section.articles div.more_posts a{
    -moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
    -ms-border-radius: 8px;
  	border-radius: 8px;
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0 1px 3px rgba(0,0,0,0.5);	
    background:url("/images/button-overlay.png") repeat-x scroll 0 0 #FFFFFF;
    border-color:rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.85);
    border-style:solid;
    border-width:1px;
    color:#444444;
    cursor:pointer;
    display:inline-block;
    font-family:Helvetica,Arial;
    font-size:1.5em;
    padding:9px 30px;
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
}

section.articles div.more_posts a:hover{
  background-color: #EEE;
}

section.articles div.more_posts a:active{
  background: #FFF url(/images/button-overlay-inverse.png) repeat-x;
}

section.articles .comments {
  display:block;
  margin:1em 0 1em 12.5em;
  padding:1em;
  width:800px;
}

/* Tag index*/
#tag_index ul{
  list-style-type: none;
  margin: 2em;
}

#tag_index ul.related li{
  display: inline;
}

#tag_index ul.posts li{
  font-size: 1.5em;
  margin: 1em 0;
}

/* Portfolio */
#portfolio_projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial;
  color: #FFF;
}
#portfolio_projects .project {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 5px solid #FFFFFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin-right: 3em;
  position: relative;
  vertical-align: top;
  opacity: .3;
}
#portfolio_projects .project h3 {
  -moz-box-shadow: 0px 0px 10px #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px #FFFFFF;
  box-shadow: 0px 0px 10px #FFFFFF;
  background-color: #333333;
  color: white;
  padding: 0.5em;
  position: absolute;
  right: 0;
  opacity: 1;  
}

#portfolio_projects .project div {
  width: 300px;
}

#portfolio_projects .project div img {
  width: 300px;
}

#portfolio_projects .project div .project_data {
  bottom: 0;
  display: none;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}

#portfolio_projects .project div .project_data li {
  background-color: #222222;
  margin-top: 0.1em;
  padding: 0.5em;
}

/* About me */
#about img{
  border: 0;
  vertical-align: middle;
  margin: 0 5px;
}

/* Contact */
#contact ul li{
  margin: 10px 0;
}

#contact ul li:before{
  vertical-align: -4px;
  padding-right: 10px;
}

#contact ul li.mail:before{
  content: url('/images/icons/social/email_link.png');
}
#contact ul li.twitter:before{
  content: url('/images/icons/social/twitter.png');
}
#contact ul li.facebook:before{
  content: url('/images/icons/social/facebook.png');
}
#contact ul li.linkedin:before{
  content: url('/images/icons/social/linkedin.png');
}
#contact ul li.xing:before{
  content: url('/images/icons/social/xing.png');
}


/* Footer */
footer {
  width: 100%;
  text-align: center;
}

footer ul{
  list-style-type: square;
  text-align: left;
}

footer ul li{
  
}