/* @font-face */
@font-face {
  font-family: 'Old Sans Black';
  src: url('./stylesheets/fonts/OldSansBlack.eot');
  src: local('OldSansBlack'),
  url('./stylesheets/fonts/OldSansBlack.ttf') format('truetype'),
  url('./stylesheets/fonts/OldSansBlack.svg#OldSansBlack') format('svg');
}
@font-face {
  font-family: 'Everson Mono Latin';
  src: url('./stylesheets/fonts/EMLATIN6.eot');
  src: local('Everson Mono Latin 6'),
  local('EversonMonoLatin6'),
  url('./stylesheets/fonts/EMLATIN6.ttf') format('truetype'),
  url('./stylesheets/fonts/EMLATIN6.svg#EversonMonoLatin6') format('svg');
}
@font-face {
  font-family: 'Deja Vu Sans Mono';
  src: url('./stylesheets/fonts/DejaVuSansMono.eot');
  src: local('DejaVu Sans Mono'),
  local('DejaVuSansMono'),
  url('./stylesheets/fonts/DejaVuSansMono.ttf') format('truetype'),
  url('./stylesheets/fonts/DejaVuSansMono.svg#DejaVuSansMono') format('svg');
}

/* Main */
html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family: 'Everson Mono Latin',Helvetica,Arial;
  color: #ffffff;
}

a {
  color: #cc66ff;
}

a:hover {
  color: #66ccff;
}

a:visited {
  color: #999999;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
  text-decoration: underline;
}

h1 a,
h2 a,
h1 a:visited,
h2 a:visited {
  color: #ccff33;
}

/* Content */
#page {
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 100%;
  border: 0 none;
  margin: 0 auto;
}

#content {
  margin-right: 25px;
  width: 775px;
  height: 100%;
}

#page section {
  margin: 20px 0;
}

#post,
#page section article {
  background-color:transparent;
  display:block;
  font-family:'Everson Mono Latin',Helvetica,Arial;
  font-size:0.9em;
  margin:2em 0;
  text-shadow:0 -1px 0 #000000;
}

#page section article .date {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  padding: .5em;
}

#page section article pre {
  border: 1px solid #444444;
  background-color: #222222;
  color: #FFFFFF;
  font-family: 'Deja Vu Sans Mono', monospace;
  font-size: 0.9em;
  overflow: auto;
  padding: 2em 1em;
}

#page section article a[rel='tag'] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  border: 1px solid #222222;
  color: white;
  font-size: 0.9em;
  padding: 0.3em 1em;
  text-decoration: none;
}

#page section article a[rel='tag']:hover {
  border: 1px solid #222222;
  background-color: #333333;
  text-decoration: underline;
}

#page .comments_subscribe {
  font-size: .8em;
}

#page .comments {
}

#page .comments li {
  background-color: #222222;
  margin: 0.5em 0;
  padding: 0.5em;
  overflow: auto;
}

#page .comments li .author {
  background-color: #111111;
  font-family: Helvetica,Arial;
  height: 54px;
  line-height: 2em;
  font-size: .8em;
}

#page .comments li .author .avatar {
  margin: 0 1em 0 0;
  vertical-align: top;
}

#page .comments li .author .url {
  font-size: 1.3em;
}

#page .comments li .comment-reply-link,
#page .comments li .comment-edit-link {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #111111;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: Helvetica, Arial;
}

#page .comments li .comment-reply-link {
}

#page .comments li .comment-edit-link {
}

#respond {
  font-family: Helvetica, Arial;
}

#respond h2 {
  font-family: 'Everson Mono Latin', Helvetica, Arial;
}

#respond em,
#respond abbr {
  font-size: .7em;
  color: #555555;
}

#respond input,
#respond textarea {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #222222;
  border-width: 1px;
  color: white;
  font-size: 1em;
  width: 20em;
}

#respond textarea {
  width: 40em;
}

/* Header */
#page header {
  border: 0 none;
  display: inline-block;
}

#page header hgroup {
}

#page header hgroup .logo img {
  border: 0 none;
}

#page header hgroup .title {
  font-family: 'Old Sans Black', Helvetica, Arial;
  font-size: 5em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.3em;
  text-shadow: 0 -1px 0 #000000;
}

#page header hgroup span {
  color: #CCCCCC;
  font-size: .8em;
}

/* Navigation */
#page nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 2em;
}

#menu {
}

#menu li {
  display: inline;
  padding: 0 1em;
}

#menu li a,
#menu li a:hover,
#menu li a:visited {
  color: #cccccc;
}

#menu li a:hover {
  border-color: white;
  border-top: 1px solid;
  border-bottom: 3px solid;
  color: white;
}

#menu li a {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #222222;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: Helvetica, Arial;
}

/* Contact form */
#contact {
}

#contact ul {
}

#contact ul li {
  margin: 1em 0;
}

#contact ul li form {
}

#contact ul li label {
}

#contact ul li em {
  font-size: .7em;
  color: #999999;
}

#contact ul li .wpcf7 {
  margin: 2em 3em;
}

#contact ul li .wpcf7 form input,
#contact ul li .wpcf7 form textarea {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #222222;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  width: 30em;
}

#contact ul li .wpcf7 form input.submit {
  border-style: inset;
  width: 7em;
}

/* Portfolio */
#portfolio_projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial;
}

#portfolio_projects .project {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 5px solid #FFFFFF;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin-right: 3em;
  position: relative;
  vertical-align: top;
  opacity: .3;
}
#portfolio_projects .project h3 {
  background-color: #333333;
  color: white;
  padding: 0.5em;
  position: absolute;
  right: 0;
  opacity: 1;
}

#portfolio_projects .project div {
  width: 300px;
}

#portfolio_projects .project div img {
  width: 300px;
}

#portfolio_projects .project div .project_data {
  bottom: 0;
  display: none;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}

#portfolio_projects .project div .project_data li {
  background-color: #222222;
  margin-top: 0.1em;
  padding: 0.5em;
}

/* Sociable icons */

div.sociable { margin: 16px 0; }

span.sociable_tagline { position: relative; }
span.sociable_tagline span { display: none; width: 14em; }
span.sociable_tagline:hover span {
	position: absolute;
	display: block;
	top: -5em;
	background: #ffe;
	border: 1px solid #ccc;
	color: black;
	line-height: 1.25em;
}
.sociable span {
	display: inline;
}
.sociable ul {
	display: inline;
	margin: 0 !important;
	padding: 0 !important;
}
.sociable ul li {
	background: none;
	display: inline !important;
	list-style-type: none;
	margin: 0;
	padding: 1px;
}
.sociable ul li:before { content: ""; }
.sociable img {
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0;
	padding: 0;
}

.sociable-hovers {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
}
.sociable-hovers:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* Footer */
footer {
  display: block;
  width: 100%;
  text-align: center;
  color: #ccc;
  padding: 1em;
  font-family: Helvetica, Arial;
  font-size: .7em;
}
