<!DOCTYPE HTML>
<html>
<head>
  <title>Fernando Espinosa | Programador web freelance. {{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/pygments.css" />
  <meta name="description" content="Soy un programador web freelance, especializado en proyectos ágiles, ruby on rails, jquery, interfaces de usuario y usabilidad." />
  <meta name="keywords" content="programador, programador web, freelance, programador freelance, programador ruby on rails, freelance ruby on rails, ruby on rails, jquery, usability, html, css, css2, css3, javascript" />
  <link rel="canonical" href="{{ site.url }}" />
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>
<body id="blog">
  {% include header.html %}
  {% include navigation.html %}
  <section class="articles dark">
    {{ content }}
  </section>
  <section id="contact" class="light">
    {% include contact.html%}
  </section>
  <section id="about" class="dark">
    {% include about.html %}
  </section>
  <section id="portfolio" class="light">
    {% include portfolio.html %}
  </section>
  <footer id="footer" class="dark">
    {% include footer.html %}
  </footer>
  {% include javascripts.html %}
</body>
</html>