<!DOCTYPE HTML>
<html>
<head>
	<title>Freelance Ruby on Rails developer. {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/pygments.css" />
	<meta name="description" content="I'm a freelance web developer, specialized in Ruby on Rails, jQuery, user interfaces and usability." />
	<meta name="keywords" content="ruby on rails, jquery, usability, html, css, css2, css3, javascript" />
	<link rel="canonical" href="{{ site.url }}" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/atom.xml" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>
<body id="blog">
	{% include header.html %}
	{% include navigation.html %}
	<section class="articles dark">
		{{ content }}
	</section>
	<section id="contact" class="light">
		{% include contact.html%}
	</section>
	<section id="about" class="dark">
		{% include about.html %}
	</section>
	<section id="portfolio" class="light">
		{% include portfolio.html %}
	</section>
	<footer id="footer" class="dark">
		{% include footer.html %}
	</footer>
	{% include javascripts.html %}
</body>
</html>