<!DOCTYPE HTML>
<html>
<head>
	<title>Freelance Ruby on Rails developer. {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
	<meta name="description" content="I'm a freelance web developer, specialized in Ruby on Rails, jQuery, user interfaces and usability." />
	<meta name="keywords" content="ruby on rails, jquery, usability, html, css, css2, css3, javascript" />
	<link rel="canonical" href="http://www.ferdev.com/" />
</head>
<body>
	<div class="content">
		<header>
			<hgroup>
				<h1><a class="title" href="/" title="Home" rel="home"><img src="/images/logo.gif" alt="ferdev.com" width="59" height="59" />Ferdev</a></h1>
				<h3>Freelance Ruby on Rails developer</h3>
			</hgroup>			
		</header>
		<nav>
			<ul id="menu">
				<li><a href="#blog" title="Portfolio">Blog</a></li>
				<li><a href="#portfolio" title="Portfolio">Portfolio</a></li>
				<li><a href="#about" title="About me">About me</a></li>
				<li><a href="#contact" title="Contact">Contact</a></li>
			</ul>		
		</nav>
	</div>
	<section id="blog" class="articles">
		<div class="content">
			{{ content }}
		</div>
	</section>
	<section id="portfolio">
		<div class="content">
			<p>
			These are the projects I've been working on lately:
			</p>
			<ul id="portfolio_projects">
				<li class="project">
					<h3>Loovrs.com</h3>
					<div>
						<img src="/images/portfolio/loovrs.jpg" alt="Loovrs" title="Loovrs"/>
						<ul class="project_data">
							<li>Dating site</li>
							<li>xhtml / css / jQuery / Ruby on Rails</li>
							<li><a href="http://www.loovrs.com" rel="loovrs.com">http://www.loovrs.com</a></li>
						</ul>
					</div>		
				</li>
				<li class="project">
					<h3>FerDev.com</h3>
					<div>
						<img src="/images/portfolio/ferdev.jpg" alt="FerDev" title="FerDev"/>
						<ul class="project_data">
							<li>Wordpress theme</li>
							<li>xhtml / css / jQuery / php</li>
							<li><a href="http://www.ferdev.com" rel="ferdev.com">http://www.ferdev.com</a></li>
						</ul>
					</div>		
				</li>
			</ul>
		</div>
	</section>
	<section id="contact">
		<div class="content">
			<p>Feel free to contact me for anything you might need from me!</p>
			<ul>
				<li>Send me an email to <a href="mailto:fer@ferdev.com">fer@ferdev.com</a>.</li>
				<li><a href="http://twitter.com/ferdev">Follow me</a> on twitter.</li>
				<li>Or drop me a few lines:<br />
					[contact-form 1 "Contact form"]
				</li>
			</ul>
		</div>
	</section>
	<section id="about">
		<div class="content">
			{% include about.html %}
		</div>
	</section>
	<footer>
		<div class="content">
			<ul>
				<li>Designed by <a href="/" title="ferdev.com">ferdev.com</a>.</li>
				<li>Social icons by <a href="http://www.komodomedia.com/" title="Komodo Media">Komodo Media</a>.</li>
				<li>Blog <a href="http://github.com/ferdev/ferdev">source</a>.</li>
			</ul>
			<span>Copyright © 2010 Fernando Espinosa</span>
		</div>
	</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/lib/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/ferdev.init.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
		try {
			var pageTracker = _gat._getTracker("UA-6392398-3");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>