---
layout: default
---
<article>
	<h1>{{ page.title }}</h1>
	<span class="date">
		{{page.date | date: "%b %d, %Y"}}
	</span>
	{% for tag in page.tags %} <a rel="tag" href="/tag/{{ tag }}/">{{ tag }}</a>&nbsp;{% endfor %}

	{{ content }}
	
</article>
<div class="comments">
  <script>
    var idcomments_acct = '9485e3d1ca4f30d30b14d9171a8b93b7';
    var idcomments_post_id;
    var idcomments_post_url;
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</div>