---
layout: default
---
<script type="text/javascript">
  var idcomments_acct = '9485e3d1ca4f30d30b14d9171a8b93b7';
  var idcomments_post_id;
  var idcomments_post_url;
</script>

<article>
  <h1>{{ page.title }}</h1>
  {% for tag in page.tags %} <a rel="tag" href="/tag/{{ tag }}/">{{ tag }}</a>&nbsp;{% endfor %}

  {{ content }}

  <div class="date">
    <hr />
    <span>{{page.date | date: "%b %d, %Y"}}</span>
    <hr />
  </div>

  <div id="comments">

    <!-- START: Livefyre Embed -->
    <div id="livefyre-comments"></div>
    <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
    <script type="text/javascript">
    (function () {
        var articleId = fyre.conv.load.makeArticleId(null);
        fyre.conv.load({}, [{
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "323683",
            articleId: articleId,
            signed: false,
            collectionMeta: {
                articleId: articleId,
                url: fyre.conv.load.makeCollectionUrl(),
            }
        }], function() {});
    }());
    </script>
    <!-- END: Livefyre Embed -->

  </div>
</article>

